/* Opening HTML (index.html) */
.index-body {
  /* display: flex;
  justify-content: center;
  align-content: center; */
  text-align: center;
  margin: 0;
  padding: 0;
}

.title {
  margin-top: 400px;
  font-family: 'Jua', sans-serif;
  /* display: block; */
  /* position: relative; */
  font-size: 6rem;
  letter-spacing: 5px;
  color: #00A591;
  text-shadow: 5px 5px black;
}
/* .banner {
  height: 100vh;
} */

/* h1 {
  font-size: 100px;
  color: black;
} */

.document {
  content: '';
  height: 100vh;
  width: 100vw;
  /* position: absolute; */
  top: 0;
  left: 0;
  background: url('../images/rps-background.jpg');
  background-size: cover;
  /* background-size: cover; */
  animation: animate 30s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 998px;
  }
}

.button {
    font-family: 'Jua', sans-serif;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 3rem;
    animation: bounceIn 1s ease-in-out infinite;
    color: #9B2335;
    text-shadow: 3px 3px black;
    /* border: 5px solid black; */
    /* border-radius: 50%; */
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/* Game HTML (main.html) */
.battle {
  content: '';
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: url('../images/Arena-Battle.jpg');
  background-size: cover;
}

.main-page {
  height: 100px;
  /* border: 3px solid black; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.userBoard {
  font-family: 'Jua', sans-serif;
  font-size: 30px;
  /* border: 1px solid red; */
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px#00d164;
}

.userScore {
  font-family: 'Jua', sans-serif;
  /* border: 1px solid green; */
  text-align: center;
  font-size: 40px;
  height: 50px;
  width: 100px;
  margin-top: 2px;
  text-shadow: 2px 2px#00d164;
  /* text-align: center;
  margin-top: 50px;
  margin-left: -475px;
  font-size: 40px;  */
}

.compBoard {
  font-family: 'Jua', sans-serif;
  font-size: 30px;
  /* border: 1px solid pink; */
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px #00d164;
  /* font-family: 'Jua', sans-serif;
  font-size: 20px;
  text-align: center;
  border: 1px solid pink;
  height: 50px;
  width: 100px; */
}

.compScore {
  font-family: 'Jua', sans-serif;
  /* border: 1px solid pink; */
  text-align: center;
  font-size: 40px;
  height: 50px;
  width: 100px;
  margin-top: 2px;
  text-shadow: 2px 2px #00d164;
  /* text-align: center;
  margin-top: 50px;
  margin-right: 300px;
  font-size: 40px;  */
}

.tie-announcer {
  display: none;
  margin-top: 50px;
  margin-right: 50px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  color: #fffd00;
  text-shadow: 3px 3px #ff3230;
}

.win-announcer {
  display: none;
  margin-top: 50px;
  margin-right: 50px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  color: #fffd00;
  text-shadow: 3px 3px #ff3230;
}

.lose-announcer {
  display: none;
  margin-top: 50px;
  margin-right: 50px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  color: #fffd00;
  text-shadow: 3px 3px #ff3230;
}

.battlefield {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 50px;
  justify-content: space-between;
  /* border: 1px solid blue; */
  height: 500px;
  width: 100%;
}

.playerWeapon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid orange; */
  height: 300px;
  width: 300px;
  margin-top: 100px;
  margin-left: 250px;
}

.game-winner {
  display: none;
  font-family: 'Jua', sans-serif;
  font-size: 40px;
  color: white;
}

.game-loser {
  display: none;
  font-family: 'Jua', sans-serif;
  font-size: 40px;
  color:white;
}

.vs-logo {
  display: none;
  margin-right: 45px;
}

.cpuWeapon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  height: 300px;
  width: 300px;
  margin-top: 100px;
  margin-right: 250px;
}

.choices {
  margin-left: 250px;
}

.rock {
  height: 100px;
  width: 100px;
  /* transition-duration: 1s;
  transition-property: transform; */
}
/*
.rock:active {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
} */

.paper {
  height: 100px;
  width: 100px;
}

.scissors {
  height: 100px;
  width: 100px;
}

.cpu-rock {
  display: none;
  height: 300px;
  width: 300px;
}

.cpu-paper {
  display: none;
  height: 300px;
  width: 300px;
}

.cpu-scissors {
  display: none;
  height: 300px;
  width: 300px;
}

.game-winner {
  display: none;
  margin-top: 50px;
  color:#ea1737;
  text-align: center;
  text-shadow: 4px 4px black;
  font-family: 'Press Start 2P', cursive;
  font-size: 70px;
}

.game-loser {
  display: none;
  margin-top: 50px;
  color:#ea1737;
  text-align: center;
  text-shadow: 4px 4px black;
  font-family: 'Press Start 2P', cursive;
  font-size: 70px;
}

.restart {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  display: none;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  background: url('../images/gameover.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
}

p {
  margin-top: 650px;
  margin-left: 1450px;
  font-size: 20px;
  color: #ea1737;
  text-shadow: 2px 2px black;
}

.restart-Btn {
  width: 135px;
  height: 60px;
  border: 5px solid black;
  font-size: 15px;
  font-family: 'Press Start 2P', cursive;
  margin: 10px;
  margin-left: 1450px;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-align: center;
  background-color: #fffd00;
}

.restart-Btn:hover {
  background-color: #41f46e;
}

.restart-Btn:active {
  background-color: #41f46e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/*
.gameover {
  display: none;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: url('../images/gameover.png');
  background-size: cover;
  position: fixed;
}  */





 /* .banner {
   background: url('http://www.usa.dottinghill.com/_uploads/designs/72/200x150thumb.gif.jpg.gif.gif');
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } */
