/* Opening HTML (index.html) */
.index-body {
  text-align: center;
  margin: 0;
  padding: 0;
}

.title {
  margin-top: 400px;
  font-family: 'Jua', sans-serif;
  font-size: 6rem;
  letter-spacing: 5px;
  color: #00A591;
  text-shadow: 5px 5px black;
}

.document {
  content: '';
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: url('../images/rps-background.jpg');
  background-size: cover;
  animation: animate 30s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 998px;
  }
}

.button {
    font-family: 'Jua', sans-serif;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 3rem;
    animation: bounceIn 1s ease-in-out infinite;
    color: #9B2335;
    text-shadow: 3px 3px black;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/* Intro HTML (intro.html */
.intro-body {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: black;
}
.intro-main {
  font-family: 'Jua', sans-serif;
  color: white;
  margin-top: 80px;
}

.h1-intro {
  font-size: 50px;
}

.h2-intro {
  font-size: 30px;
}

.section-intro {
  font-size: 25px;
}

.a-intro {
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
  color: #9B2335;
  margin-left: 5px;
}

.rules {
  font-size: 20px;
}

.bottom {
  margin-top: 125px;
  margin-left: 325px;
}

#loading {
  height: 50px;
  width: 50px;
  margin-left: 150px;
		-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.btn {
    font-family: 'Press Start 2P', cursive;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 3rem;
    animation: bounceIn 1s ease-in-out infinite;
    color: #9B2335;
    text-shadow: 3px 3px white;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/* Game HTML (main.html) */
.battle {
  content: '';
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: url('../images/Arena-Battle.jpg');
  background-size: cover;
}

.main-page {
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.userBoard {
  font-family: 'Jua', sans-serif;
  font-size: 30px;
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px#00d164;
}

.userScore {
  font-family: 'Jua', sans-serif;
  text-align: center;
  font-size: 40px;
  height: 50px;
  width: 100px;
  margin-top: 2px;
  text-shadow: 2px 2px#00d164;
}

.compBoard {
  font-family: 'Jua', sans-serif;
  font-size: 30px;
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px #00d164;
}

.compScore {
  font-family: 'Jua', sans-serif;
  text-align: center;
  font-size: 40px;
  height: 50px;
  width: 100px;
  margin-top: 2px;
  text-shadow: 2px 2px #00d164;
}

.tie-announcer {
  display: none;
  margin-top: 50px;
  margin-right: 50px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  color: #fffd00;
  text-shadow: 3px 3px #ff3230;
}

.win-announcer {
  display: none;
  margin-top: 50px;
  margin-right: 50px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  color: #fffd00;
  text-shadow: 3px 3px #ff3230;
}

.lose-announcer {
  display: none;
  margin-top: 50px;
  margin-right: 50px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  color: #fffd00;
  text-shadow: 3px 3px #ff3230;
}

.battlefield {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 50px;
  justify-content: space-between;
  height: 500px;
  width: 100%;
}

.playerWeapon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  margin-top: 100px;
  margin-left: 250px;
}

.game-winner {
  display: none;
  font-family: 'Jua', sans-serif;
  font-size: 40px;
  color: white;
}

.game-loser {
  display: none;
  font-family: 'Jua', sans-serif;
  font-size: 40px;
  color:white;
}

.vs-logo {
  display: none;
  margin-right: 45px;
}

.cpuWeapon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  margin-top: 100px;
  margin-right: 250px;
}

.choices {
  margin-left: 250px;
}

.rock {
  height: 100px;
  width: 100px;
}

.paper {
  height: 100px;
  width: 100px;
}

.scissors {
  height: 100px;
  width: 100px;
}

.cpu-rock {
  display: none;
  height: 300px;
  width: 300px;
}

.cpu-paper {
  display: none;
  height: 300px;
  width: 300px;
}

.cpu-scissors {
  display: none;
  height: 300px;
  width: 300px;
}

.game-winner {
  display: none;
  margin-top: 50px;
  color:#ea1737;
  text-align: center;
  text-shadow: 4px 4px black;
  font-family: 'Press Start 2P', cursive;
  font-size: 70px;
}

.game-loser {
  display: none;
  margin-top: 50px;
  color:#ea1737;
  text-align: center;
  text-shadow: 4px 4px black;
  font-family: 'Press Start 2P', cursive;
  font-size: 70px;
}

.restart {
  display: none;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  background: url('../images/gameover.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
}

p {
  margin-top: 650px;
  margin-left: 1450px;
  font-size: 20px;
  color: #ea1737;
  text-shadow: 2px 2px black;
}

.restart-Btn {
  width: 135px;
  height: 60px;
  border: 5px solid black;
  font-size: 15px;
  font-family: 'Press Start 2P', cursive;
  margin: 10px;
  margin-left: 1450px;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-align: center;
  background-color: #fffd00;
}

.restart-Btn:hover {
  background-color: #41f46e;
}

.restart-Btn:active {
  background-color: #41f46e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* @media (max-width: 500px) {
  .battlefield {
    display: block;
  }

  .choices {
    display: flex;

  }

  .rock {
    width: 50px;
    height: 50px;
  }

  .paper {
    width: 50px;
    height: 50px;
  }

  .scissors {
    width: 50px;
    height: 50px;
  }
} */
