/* Opening HTML (index.html) */

body {
  margin: 0;
  padding: 0;
}

.title {
  display: block;
  position: relative;
  font-size: 6rem;
  letter-spacing: 5px;
}
/* .banner {
  height: 100vh;
} */

h1 {
  font-size: 100px;
  color: black;
}

.banner {
  content: '';
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/rps-background.jpg');
  animation: animate 30s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 998px;
  }
}

/* Game HTML (main.html) */
.main-page {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.userScore {
  font-family: 'Jua', sans-serif;
  border: 1px solid green;
  height: 50px;
  width: 100px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
}

.timer {
  font-family: 'Jua', sans-serif;
  border: 1px solid red;
  height: 100px;
  width: 100px;
  margin-top: 20px;
}

.compScore {
  font-family: 'Jua', sans-serif;
  border: 1px solid pink;
  height: 50px;
  width: 100px;
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
}


.battlefield {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 100px;
  justify-content: space-between;
  border: 1px solid blue;
  height: 500px;
  width: 100%;
}

.playerWeapon {
  /* position: absolute; */
  border: 1px solid orange;
  height: 300px;
  width: 300px;
  margin-top: 100px;
  margin-left: 250px;
}

.cpuWeapon {
  /* align-self: flex-end; */
  border: 1px solid black;
  height: 300px;
  width: 300px;
  margin-top: 100px;
  margin-right: 250px;
}

.rock {
  height: 100px;
  width: 100px;
}

.paper {
  height: 100px;
  width: 100px;
}

.scissors {
  height: 100px;
  width: 100px;
}

.restart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Jua', sans-serif;
}


.restart-Btn {
  width: 135px;
  height: 60px;
  border: 5px solid black;
  font-size: 30px;
  font-family: 'Jua', sans-serif;
  margin: 10px;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  text-align: center;
}

.restart-Btn:hover {
  background-color: #aff441;
}

.restart-Btn:active {
  background-color: #aff441;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}





 /* .banner {
   background: url('http://www.usa.dottinghill.com/_uploads/designs/72/200x150thumb.gif.jpg.gif.gif');
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } */
